<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Test Project Rules" Description="Rules for test projects." ToolsVersion="14.0">
    <Include Path="Shared.ruleset" Action="Default"></Include>
    <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
        <Rule Id="SA1204" Action="None" />
        <Rule Id="SA1600" Action="None" />
    </Rules>
</RuleSet>